name: Push Auth Services to Docker Hub

on:
  push:
    branches:
      - qa-aws-deploy
    paths:
      - 'BackEnd/Domains/Auth/**'

jobs:
  push_to_registry:
    name: Push Docker Images to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Role Authentication Image
      - name: Build and push Role Authentication image
        uses: docker/build-push-action@v4
        with:
          context: ./BackEnd/Domains/Auth/role-auth
          file: ./BackEnd/Domains/Auth/role-auth/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/role-auth:latest

      # Login Image
      - name: Build and push Login image
        uses: docker/build-push-action@v4
        with:
          context: ./BackEnd/Domains/Auth/Login
          file: ./BackEnd/Domains/Auth/Login/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/login:latest

      # Logout Image
      - name: Build and push Logout image
        uses: docker/build-push-action@v4
        with:
          context: ./BackEnd/Domains/Auth/Logout
          file: ./BackEnd/Domains/Auth/Logout/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/logout:latest
